<h1>Games#edit</h1>
<p>Find me in app/views/games/edit.html.erb</p>

<%= link_to( "Suivant", game_path(1), method: :patch, class: "btn btn-warning" )  %>

<%= link_to( "Résultats", game_path(1), method: :get, class: "btn btn-light" )  %>

